apiVersion: datakit.infoblox.dev/v1alpha1
kind: Transform
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  version: 0.1.0
  labels:
    team: {{ .Team }}
spec:
  runtime: cloudquery
  mode: {{ .Mode }}

  inputs:
    - asset: {{ .Name }}-source-table

  outputs:
    - asset: {{ .Name }}-dest-table

  timeout: 30m
