apiVersion: data.infoblox.com/v1alpha1
kind: Store
metadata:
  name: dest-bucket
  namespace: {{ .Namespace }}
spec:
  connector: s3
  connection:
    bucket: "cdpp-raw"
    region: "us-east-1"
    endpoint: "http://dk-localstack-localstack.dk-local.svc.cluster.local:4566"
    no_rotate: true
    use_path_style: true
