apiVersion: datakit.infoblox.dev/v1alpha1
kind: Transform
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  version: 0.1.0
  labels:
    team: {{ .Team }}
spec:
  runtime: generic-go
  mode: {{ .Mode }}
  description: "{{ .Description }}"
  owner: {{ .Owner }}
  image: "${REGISTRY}/{{ .Name }}:${VERSION}"

  inputs:
    - dataset: {{ .Name }}-input

  outputs:
    - dataset: {{ .Name }}-output

  resources:
    cpu: "1"
    memory: "2Gi"
