apiVersion: data.infoblox.com/v1alpha1
kind: Source
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  version: 0.1.0
  labels:
    team: {{ .Team }}
spec:
  runtime: generic-go
  description: "{{ .Description }}"
  owner: {{ .Owner }}
  image: "${REGISTRY}/{{ .Name }}:${VERSION}"

  provides:
    name: {{ .Name }}-data
    type: kafka-topic
    classification:
      pii: false
      sensitivity: internal

  configSchema:
    properties:
      endpoint:
        type: string
        description: "Endpoint URL"
    required:
      - endpoint
