apiVersion: data.infoblox.com/v1alpha1
kind: PipelineWorkflow
metadata:
  name: {{.Name}}
  description: "Custom single-container pipeline"
steps:
  - name: run-container
    type: custom
    image: "TODO-image:latest"
    description: "Run a custom container"
