apiVersion: data.infoblox.com/v1alpha1
kind: PipelineWorkflow
metadata:
  name: {{.Name}}
  description: "Simple data synchronization pipeline"
steps:
  - name: sync-data
    type: sync
    input: "TODO-input-asset"
    output: "TODO-output-asset"
    description: "Sync data from input to output"
