apiVersion: cdpp.io/v1alpha1
kind: DataPackage
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    team: {{ .Team }}
spec:
  type: model
  description: {{ .Description }}
  owner: {{ .Owner }}
  
  outputs:
    - name: model-artifact
      type: s3-prefix
      binding: output.models
      schema:
        type: parquet
      classification:
        pii: false
        sensitivity: internal
        dataCategory: ml-models
        
  resources:
    cpu: "4"
    memory: "8Gi"
