apiVersion: data.infoblox.com/v1alpha1
kind: Connector
metadata:
  name: postgres
spec:
  type: postgres
  protocol: postgresql
  capabilities:
    - source
    - destination
  plugin:
    source: ghcr.io/infobloxopen/cq-source-postgres:v0.1.0
    destination: ghcr.io/infobloxopen/cq-destination-postgresql:v8.14.1
