apiVersion: data.infoblox.com/v1alpha1
kind: DataPackage
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
  version: "0.1.0"
  labels:
    team: {{.Team}}
spec:
  type: cloudquery
  description: "{{.Description}}"
  owner: "{{.Owner}}"
  cloudquery:
    role: {{.Role}}
    tables:
      - example_resource
    grpcPort: {{.GRPCPort}}
    concurrency: {{.Concurrency}}
  runtime:
    image: "{{.Namespace}}/{{.Name}}:latest"
