#!/usr/bin/env python3
"""
{{.Name}} — CloudQuery {{.Role}} plugin.

Entry point for the gRPC plugin server.
"""
import sys

from cloudquery.sdk import serve

from plugin.plugin import {{.Name | pascalCase}}Plugin


def main():
    p = {{.Name | pascalCase}}Plugin()
    cmd = serve.PluginCommand(p)
    cmd.run(sys.argv[1:])


if __name__ == "__main__":
    main()
